@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-bg-color: hsl(212, 45%, 89%);
    --container-color:  hsl(0, 0%, 100%);
    --para-color: hsl(220, 15%, 55%);
    --heading-color: hsl(218, 44%, 22%);
}

body{
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 20px;
}

.container {
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    height: 350px;
    width: 240px;
    text-align: center;
}

.container p {
    color: var(--para-color);
    line-height: 1.4;
}

h1 {
    color: var(--heading-color);
    line-height: 1.4;
    font-size: 1rem;
}

img {
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

/* Mobile Media query */
@media(max-width:768px) {
    .container {
        display: block;
        margin: 20px;
    }

    .attribution {
        margin: 10px;
        text-align: center;
    }
}